html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
    font-family: aleolightitalic;
}


#content {
    min-height: 100%;
    position: relative;
}

#header {
    border-bottom: 1px solid #eee;
}
    #header #navbar {
        display: block;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    #navbar h1 {
        font-family: great_vibesregular;
        text-align: center;
        font-size: 7em;
        font-weight: 300;
    }

    #header #navbar h2 {
        font-family: great_vibesregular;
        text-align: center;
        font-size: 3.5em;
        font-weight: lighter;
        color: #ccc;

        margin-top: 0;
        margin-right: 10px;
        
        display: inline;
    }

        #header #navbar h2:hover {
            color: black;
        }

    #userbar {
        margin-bottom: -110px;
        padding: 20px;
    }
        #userbar .useravatar {
            height: 90px;
            width: 90px;

            border-style: solid;
            border-color: #eee;
            border-radius: 60px;
            border-width: 1px;

            transition: 1s;
        }
            #userbar .useravatar:hover {
                height: 100px;
                width: 100px;
                transition: 1s;
            }
        #userbar .message {
            margin-top: 0;
        }

        #userbar .box_content {
            width: 100%;
            height: 5px;

            color: white;

            background-color: #3498db;
            text-align: center;
            padding-right: 40px;

            position: relative;
            top: -20px;
            left: -20px;

            overflow: hidden;
            transition: 1s;
        }
            #userbar .box_content:hover {
                height: 60px;
                transition: 1s;
                overflow: hidden;       
            }

            #userbar .box_content_hide {
                width: 100%;
                height: 5px;

                color: white;

                background-color: #3498db;
                text-align: center;
                padding-right: 40px;

                position: relative;
                top: -20px;
                left: -20px;

                overflow: hidden;
                -webkit-animation-name: slideup;
                -moz-animation-name: slideup;
                -ms-animation-name: slideup;
                -o-animation-name: slideup;
                animation-name: slideup;

                -webkit-animation-duration: 1s;
                -moz-animation-duration: 1s;
                -ms-animation-duration: 1s;
                -o-animation-duration: 1s;
                animation-duration: 1s;

                -webkit-animation-fill-mode: forwards;
                -moz-animation-fill-mode: forwards;
                -ms-animation-fill-mode: forwards;
                -o-animation-fill-mode: forwards;
                animation-fill-mode: forwards; 
        }
             #userbar .box_content_show {
                width: 100%;
                height: 5px;

                color: white;
                
                background-color: #3498db;
                text-align: center;
                padding-right: 40px;

                position: relative;
                top: -20px;
                left: -20px;

                overflow: hidden;

                -webkit-animation-name: slidedown;
                -moz-animation-name: slidedown;
                -ms-animation-name: slidedown;
                -o-animation-name: slidedown;
                animation-name: slidedown;

                -webkit-animation-duration: 1s;
                -moz-animation-duration: 1s;
                -ms-animation-duration: 1s;
                -o-animation-duration: 1s;
                animation-duration: 1s;

                -webkit-animation-fill-mode: forwards;
                -moz-animation-fill-mode: forwards;
                -ms-animation-fill-mode: forwards;
                -o-animation-fill-mode: forwards;
                animation-fill-mode: forwards; 
            }

            #userbar .box_content_extended {
                width: 100%;
                height: 5px;

                color: white;
                
                background-color: #3498db;
                text-align: center;
                padding-right: 40px;

                position: relative;
                top: -20px;
                left: -20px;

                overflow: hidden;

                -webkit-animation-name: slidedown_extended;
                -moz-animation-name: slidedown_extended;
                -ms-animation-name: slidedown_extended;
                -o-animation-name: slidedown_extended;
                animation-name: slidedown_extended;

                -webkit-animation-duration: 1s;
                -moz-animation-duration: 1s;
                -ms-animation-duration: 1s;
                -o-animation-duration: 1s;
                animation-duration: 1s;

                -webkit-animation-fill-mode: forwards;
                -moz-animation-fill-mode: forwards;
                -ms-animation-fill-mode: forwards;
                -o-animation-fill-mode: forwards;
                animation-fill-mode: forwards; 
            }

            #userbar .box_content_minimized {
                width: 100%;
                height: 5px;

                color: white;
                
                background-color: #3498db;
                text-align: center;
                padding-right: 40px;

                position: relative;
                top: -20px;
                left: -20px;

                overflow: hidden;

                -webkit-animation-name: slideup_extended;
                -moz-animation-name: slideup_extended;
                -ms-animation-name: slideup_extended;
                -o-animation-name: slideup_extended;
                animation-name: slideup_extended;

                -webkit-animation-duration: 1s;
                -moz-animation-duration: 1s;
                -ms-animation-duration: 1s;
                -o-animation-duration: 1s;
                animation-duration: 1s;

                -webkit-animation-fill-mode: forwards;
                -moz-animation-fill-mode: forwards;
                -ms-animation-fill-mode: forwards;
                -o-animation-fill-mode: forwards;
                animation-fill-mode: forwards; 
            }

        .box_content p{
            color: white;
            margin-top: 10px;
        }

            .connexionButton{
                width: 200px;
                height: 40px;
                margin: auto;

                padding-top: 5px;
                font-size: 1.3em;

                cursor: pointer;
                opacity: 0.3;
                background-color: black;

                transition:1s;
            }
                .connexionButton:hover {
                    opacity: 0.6;
                    transition:1s;
                }

            .userStats {
                position: absolute;
                left: 10px;
            }
            .userAvatar {
                opacity: 0.6;
                width: 200px;
                height: 200px;
                background: white;

                display: inline-block;

                border-style: solid;
                border-color: white;
                border-width: 10px;
                cursor: pointer;
            }
                .userAvatar:hover{
                    opacity: 1;
                }

            .userProgress{
                display: inline-block;
                text-align: left;
                list-style-type: none;
            }
            .userProgress ul{
                list-style-type: none;
            }

            .userIcons {
                margin-left: 40px;
            }
                .userIcons img {
                    width: 40px;
                    height: 40px;
                    margin-right: 5px;
                    cursor: pointer;

                    transition: 1s;
                }
                    .userIcons img:hover{
                        width: 35px;
                        height: 35px;

                        transition: 1s;
                    }

        #hangon {
            height: 50px;
            width: 50px;
            background: #3498db;
            border-radius: 40px;

            position: absolute;
            right: 0;
            transition: 1s;
        }
            #hangon:hover {
                height: 45px;
                width: 45px;
                transition: 1s;
            }
            #hangon_rope {
                height: 50px;
                width: 10px;
                background: #3498db;

                margin-top: -30px;
                position: absolute;
                right: 20px;
            }


#body {
    font-size: 1.2em;
    padding: 10px;
    padding-bottom: 200px; /* Height of the footer */
}
    div .news {
    text-align: left;
    width: 900px;

    margin-left: auto;
    margin-right: auto;
    }


        .subjects_list {
            width: 700px;
            margin: auto;
        }
            .subject_square {
                color: white;
                font-size: 2em;
                text-align: center;
                margin-bottom: 3px;

                background: #7f8c8d;

                height: 200px;
                width: 300px;
                display: inline-block;
                transition: 1s;
            }
                .subject_square:hover {
                    background: #2c3e50;
                    transition: 1s;
                }
                .subject_square p {
                    margin-top: 60px;
                }
                #square_informatique {
                    background: #3498db;
                    transition: 1s;
                }
                    #square_informatique:hover {
                    background: #2c3e50;
                    transition: 1s;
                    }
                #square_maths {
                    background: #e74c3c;
                    transition: 1s;
                }
                    #square_maths:hover {
                    background: #2c3e50;
                    transition: 1s;
                    }
                #square_crypto {
                    background-color: #8e44ad;
                    transition: 1s;
                }
                    #square_crypto:hover {
                    background-color: #2c3e50;
                    transition: 1s;
                    }

        .chapter {
            cursor: pointer;
        }
            .chapter h1 {
                color: #3498db;
                font-size: 1.7em;
                transition: 1s;
            }
            .chapter h1:hover {
                color: black;
                transition: 1s;
            }

            /*.chapter_opened {
                height: 700px;
                width: 700px;
                background: #d35400;
                display: inline-block;

                color: white;
                text-align: center;
                font-size: 3em;
                transition: 1s;
            }*/


    .exoArea {
        width: 600px;
        margin-left:auto;
        margin-right: auto;
        
    }
    .exoSummary {
        /*font-size: 1.5em;*/
    }
    .exoQuestion {
        font-weight: bold;
        transition: 1s;
    }
        .exoQuestion:hover {
            font-weight: bold;
            color: #e74c3c;
            transition: 1s;
        }

    .solutionArea {
        display: none;
    }
        .solutionButton {
            height: 50px;
            width: 120px;

            color: white;
            text-align: center;
            font-size: 1.6em;

            cursor: pointer;
            display: block;
            background: #e74c3c;
            transition: 1s;
        }
            .solutionButton:hover {
                /*color: black;*/
                background: black;
                transition: 1s;
            }
        .exoSolution {
            /*font-family: sspro;*/
            /*font-size: 0.6em;*/
            /*display: none;*/
        }

    .figure {        
        width: 300px;
        height: 200px;
        margin: auto;
        margin-bottom: 0;
    }

    .square {
        border-color: black;
        border-width: 3px;
        border-style: solid;
        
        width: 200px;
        height: 100px;
        margin: auto;
    }
    .longueur{
        display: inline-block;
        margin-top: -150px;
        vertical-align: middle;
        color:red;
    }
    .largeur{
        display: inline;
        margin-left: 120px;
        color:red;
    }

    .centerText{
        width: 500px;
        margin: auto;
    }



#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px; /* Height of the footer */
    background: #eee;
    text-align: center;
}
    #footer a:hover {
        text-decoration: underline;
    }


a {
    text-decoration: none;
    color: black;
}

#footer ul li {
    list-style-type: none;
    font-size: 1.5em;
}


#sidebar {
    position: fixed;
    top:0;
    right:0;
    height: 100%;
    width: 200px;
    background: #3498db;
    z-index: 10;

    color: white;
    font-size: 2em;
    padding-left: 20px
}

    #sidebar h2 {
        background: #2980b9;
        width: 220px;
        height: 50px;
        padding: 20px;

        position: relative;
        top: -40px;
        left: -20px;
    }
    .sidebar_section {
        font-size: 2em;
    }

    .sidebar_subsection {
        font-size: 1.5em;
    }
    #sidebar ul {
        margin-top: -50px;
    }
    #sidebar ul li {
    }

#clock {
    color: white;
    margin-top: -30px;
    font-size: 1.5em;
    width: 20px;
    display: inline;
    transition: 1s;
}
    /*#clock:hover {
        font-size: 3em;
        transition: 1s;
    }*/

/*ANIMATIONS*/
/*---------*/
/*SLIDEDOWN*/
@keyframes slidedown {
    from{ height: 5px; }
    to { height: 60px; }
}
@-webkit-keyframes slidedown {
    from{ height: 5px; }
    to { height: 60px; }
}
@-moz-keyframes slidedown {
    from{ height: 5px; }
    to { height: 60px; }
}
@-ms-keyframes slidedown {
    from{ height: 5px; }
    to { height: 60px; }
}
@-o-keyframes slidedown {
    from{ height: 5px; }
    to { height: 60px; }
}

/*SLIDEUP*/
@keyframes slideup {
    from{ height: 60px; }
    to { height: 5px; }
}
@-webkit-keyframes slideup {
    from{ height: 60px; }
    to { height: 5px; }
}
@-moz-keyframes slideup {
    from{ height: 60px; }
    to { height: 5px; }
}
@-ms-keyframes slideup {
    from{ height: 60px; }
    to { height: 5px; }
}
@-o-keyframes slideup {
    from{ height: 60px; }
    to { height: 5px; }
}


/*SLIDEDOWN EXTENDED*/
@keyframes slidedown_extended {
    from{ height: 60px; }
    to { height: 400px; }
}
@-webkit-keyframes slidedown_extended {
    from{ height: 60px; }
    to { height: 400px; }
}
@-moz-keyframes slidedown_extended {
    from{ height: 60px; }
    to { height: 400px; }
}
@-ms-keyframes slidedown_extended {
    from{ height: 60px; }
    to { height: 400px; }
}
@-o-keyframes slidedown_extended {
    from{ height: 60px; }
    to { height: 400px; }
}

/*SLIDEUP EXTENDED*/
@keyframes slideup_extended {
    from{ height: 400px; }
    to { height: 5px; }
}
@-webkit-keyframes slideup_extended {
    from{ height: 400px; }
    to { height: 5px; }
}
@-moz-keyframes slideup_extended {
    from{ height: 400px; }
    to { height: 5px; }
}
@-ms-keyframes slideup_extended {
    from{ height: 400px; }
    to { height: 5px; }
}
@-o-keyframes slideup_extended {
    from{ height: 400px; }
    to { height: 5px; }
}

/*FONTS*/
@font-face {
    font-family: 'great_vibesregular';
    src: url('../fonts/greatvibes-regular-webfont.eot');
    src: url('../fonts/greatvibes-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/greatvibes-regular-webfont.woff') format('woff'),
         url('../fonts/greatvibes-regular-webfont.ttf') format('truetype'),
         url('../fonts/greatvibes-regular-webfont.svg#great_vibesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleoregular';
    src: url('../fonts/aleo-regular-webfont.eot');
    src: url('../fonts/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo-regular-webfont.woff') format('woff'),
         url('../fonts/aleo-regular-webfont.ttf') format('truetype'),
         url('../fonts/aleo-regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aleolightitalic';
    src: url('../fonts/aleo-lightitalic-webfont.eot');
    src: url('../fonts/aleo-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo-lightitalic-webfont.woff') format('woff'),
         url('../fonts/aleo-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/aleo-lightitalic-webfont.svg#aleolightitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aleolight';
    src: url('../fonts/aleo-light-webfont.eot');
    src: url('../fonts/aleo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo-light-webfont.woff') format('woff'),
         url('../fonts/aleo-light-webfont.ttf') format('truetype'),
         url('../fonts/aleo-light-webfont.svg#aleolight') format('svg');
    font-weight: normal;
    font-style: normal;

}