{% extends "skeleton.html" %}

{% block bodycontent %}
	<div class="news">
		<p>Bienvenue sur la plateforme web d'exercices de l'uvsq!\n
		Exercez-vous à des exercices pratiques et des mises en situations dans les domaines de l'<b>informatique</b>
		et des <b>mathématiques</b>.</p>
	</div>
    <!-- <p>Ceci est un test de contenu</p> -->

    <!-- Quand \(a \ne 0\) , il y a deux solutions à \( ax^2 + bx + c = 0\), et et ce sont
    $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$

    $$\bbox[5px, border:2px solid black]{x+y}$$ -->
    <!-- $$ E = mc^2$$ -->
    
    <!-- \begin{equation}
        E = mc^2
    \end{equation} -->
{% endblock %}