{% extends "/templates/skeleton.html" %}

{% block bodycontent %}
<div id="body">
	<div class="news">
		<p>Bienvenue sur la plateforme web d'exercices de l'uvsq! <br/>
		Exercez-vous à des exercices pratiques et des mises en situations dans les domaines de l'<b>informatique</b>
		et des <b>mathématiques</b>.</p>
    
    	<!-- <p>Ceci est un test de contenu</p> -->
	    <p>
	    	Quand \(a \ne 0\) , il y a deux solutions à \( ax^2 + bx + c = 0\), et ce sont
    		$$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$

		    $$\bbox[5px, border:2px solid black]{E=mc^2}$$
	    </p>
	</div>
</div>
{% endblock %}