{% extends "/templates/skeleton.html" %}

{% block bodycontent %}
<div id="body">
	<div class="news">
		<p>Bienvenue sur la plateforme web d'exercices de l'uvsq! <br/>
		Exercez-vous à des exercices pratiques et des mises en situations dans les domaines de l'<b>informatique</b>
		et des <b>mathématiques</b>.</p>
    
    	<!-- <p>Ceci est un test de contenu</p> -->
	    <p>
	    	Quand \(a \ne 0\) , il y a deux solutions à \( ax^2 + bx + c = 0\), et ce sont
    		$$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$

		    $$\bbox[5px, border:2px solid black]{E=mc^2}$$
	    </p>

	    <p class="exocontentTiny">
	    	<br/><br/>
	    	Cette application web est capable de générer des exercices dynamiquement,
	    	c'est-à-dire que les valeurs numériques seront aléatoirement générée à chaque nouvel affichage.<br/>
	    	Vous pouvez essayer de réactualiser cette page d'accueil. <br/><br/>

	    	La formule pour calculer le périmètre d'un rectangle est : 2* Longueur * Largeur. <br/>

	    	Exemple: <br/> 
	    	
	    	{% python %}
		    a=max(3,8,9,11)
		    b=max(2,1,10)
		    phrase = "Un Rectangle avec une longeur de "+ str(a) +"cm et une largeur de "+ str(b) +"cm aura un perimetre de : " + str(a*b) +"cm"
		    return phrase
		    {% endpython %}

	    </p>

	    
	</div>
</div>
{% endblock %}