{% extends "/templates/skeleton.html" %}

{% block bodycontent %}
<div id="body">
	<div class="news">
		<p>Bienvenue sur la plateforme web d'exercices de l'uvsq! <br/>
		Entraînez-vous à des exercices et des mises en situations dans les domaines de <b>l'informatique</b>
		et des <b>mathématiques</b>.</p>
    
    	<!-- <p>Ceci est un test de contenu</p> -->
	    <p>
	    	Quand \(a \ne 0\) , il y a deux solutions à \( ax^2 + bx + c = 0\), et ce sont
    		$$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$

		    $$\bbox[5px, border:2px solid black]{E=mc^2}$$
	    </p>

	    
	    	<br/><br/>
	    	Cette application web est capable de générer des exercices dynamiquement,
	    	c'est-à-dire que les valeurs numériques sont aléatoirement attribuées à chaque nouvel affichage.<br/>
	    	Vous pouvez essayer en réactualisant cette page d'accueil. <br/><br/>


	    	
		    	Exemple: <br/> 
		    	La formule pour calculer le périmètre d'un rectangle est : 2* (Longueur + Largeur). <br/>

		    	<!-- <div class='square'></div> -->
		    	
		    	{% python %}
				    a=random.randint(1, int(round(time.time()))/100000)
				    b=random.randint(1, int(round(time.time()))/100000)

				    # This is a python comment
				    # a is the height
				    # whereas b is the width
				    # ----------------------
				    if(a>b):
				    	a,b=b,a


				    
				    # contenu de retour
				    # -----------------
				    phrase="""
				    	<div class='figure'> <span class='largeur'>
				    	""" + str(b) + """
				    	</span> <div class='square'> </div> <span class='longueur'>""" + str(a)+ """
				    	</span> </div>""" + """
				    	Un Rectangle avec une longeur de <strong style='color:#e74c3c'>"""+ str(a) + """
				    	cm</strong> et une largeur de <strong style='color:#e74c3c'>"""+ str(b) + """
				    	cm</strong> aura un perimetre de : <strong style='color:#e74c3c'>""" + str(2*(a+b)) + """
				    	cm</strong>
				    """

				    return phrase
			    {% endpython %}	    
	</div>
</div>
{% endblock %}