{% extends "/templates/skeleton.html" %}
{% block titre %}webbapp - Chap {{ id }} - {{ work }} {% endblock %}

{% block header%} {{ super() }}
	<!-- script highlight -->
    <link type="text/css" rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/monokai.min.css">
    <script type="text/javascript" src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
{% endblock %}

{% block bodycontent %}
	<div id="body">
		<div class="exolesson">
		
			{# {% if path %}		<!--comment-->
				{% include path %}	<!--comment-->
			{% endif %} #}			<!--comment-->

			{{page|safe}}			<!--display exercice-->
		</div>

		<!-- highlighting -->
		<script>hljs.initHighlightingOnLoad();</script>
	</div>
{% endblock %}